<h1> 商品編集</h1>



<p> <%= link_to "Artist edit", new_admin_artist_path %></p>
<p> <%= link_to "Label edit", new_admin_label_path %></p>
<p> <%= link_to "Genre edit", new_admin_genre_path  %></p>

<%= form_for @item, url: admin_item_path(@item) do |f| %>

<h4> Jacket image</h4>
    <%= f.label :jacket_image %>
    <%= f.attachment_field :jacket_image %>

<h4> Album</h4>
<%= f.text_field :name %>


<h4> Artist</h4>
<%= f.select :artist_id, Artist.all.map{|a| [a.artist, a.id] } %>


<h4> Price</h4>
<%= f.text_field :price %>

<h4> Label</h4>
<%= f.select :label_id, Label.all.map{|l| [l.label, l.id] } %>


<h4> Stock</h4>
<%= f.text_field :stock %>


<h4> Status</h4>
<%= f.select :status,[["Sale","Sale"],["Sold out","Sold out"],["Stop selling","Stop selling"]] %>


<h4> Genre</h4>
<%= f.select :genre_id, Genre.all.map{|g| [g.genre, g.id] } %>


<%= f.submit "update" %>
<%= link_to "Destroy", admin_item_path(@item), method: :delete,  data: {confirm: "本当に削除しますか？"} %>

<% end %>