<h1> 商品追加</h1>

<%= form_for @item, url: admin_items_path do |f| %>

<h4> アルバム名</h4>
<%= f.text_field :name %>



<h4> アーティスト追加</h4>
<p><%= link_to "アーティスト追加ページ", new_admin_artist_path %> </p>
<%= f.select :artist_id, Artist.all.map{|a| [a.artist, a.id] } %>



<h4> 価格</h4>
<%= f.text_field :price %>

<h4> レーベル名</h4>
<p><%= link_to "レーベル追加ページ", new_admin_label_path %> </p>
<%= f.select :label_id, Label.all.map{|l| [l.label, l.id] } %>


<h4> 在庫数</h4>
<%= f.text_field :stock %>


<h4> 販売ステータス</h4>

<%= f.select :status,[["販売中","販売中"],["売り切れ","売り切れ"],["販売停止中","販売停止中"]] %>


<h4> ジャンル名</h4>
<p><%= link_to "ジャンル追加ページ", new_admin_genre_path %> </p>
<%= f.select :genre_id, Genre.all.map{|g| [g.genre, g.id] } %>


<br>
<%= f.submit "登録" %>
<% end %>





