<div class="wrapper">
	<h1> 商品追加</h1>
	<p><%= link_to "アーティスト追加ページ", new_admin_artist_path %> </p>
	<p><%= link_to "レーベル追加ページ", new_admin_label_path %> </p>
	<p><%= link_to "ジャンル追加ページ", new_admin_genre_path %> </p>


	<%= form_for @item, url: admin_items_path do |f| %>

	<%= f.attachment_field :jacket_image %>

	<h4> タイトル</h4>
	<%= f.text_field :name %>

	<h4> CD形式</h4>
	<%= f.select :disctype,[["アルバム","アルバム"],["シングル","シングル"],["その他","その他"]] %>

	<h4> アーティスト</h4>
	<%= f.select :artist_id, Artist.all.map{|a| [a.artist, a.id] } %>

	<h4> 価格</h4>
	<%= f.text_field :price %>

	<h4> レーベル名</h4>
	<%= f.select :label_id, Label.all.map{|l| [l.label, l.id] } %>

	<h4> 在庫数</h4>
	<%= f.text_field :stock %>

	<h4> 販売ステータス</h4>
	<%= f.select :status,[["在庫あり","在庫あり"],["売り切れ","売り切れ"],["販売停止中","販売停止中"]] %>


	<h4> ジャンル名</h4>
	<%= f.select :genre_id, Genre.all.map{|g| [g.genre, g.id] } %>



	<div class = "discs">
	<%= f.fields_for :discs do |disc| %>
		<p>ディスク番号 <%= render "disc_fields", f: disc %> </p>
	<% end %>
		<div class = "links">
			<p><%= link_to_add_association "ディスク追加", f,:discs %> </p>
		</div>
	</div>

	<%= f.submit '登録', id:"back" , class: "btn btn-primary btn-lg"%>
	<% end %>
</div>

<!-- <script>
let back = document.getElementById("back")
back.addEventListener("click", () => {
window.history.back()
})
</script> -->