<div class="back">
	<div class="back-rgba">
		<h1> 商品詳細ページ</h1>

			<div class = "container">
				<div class = "row">
					<div class = "col-lg-4"><%= attachment_image_tag @item, :jacket_image, class: "image", fallback: "no_images.png", size: '200x200' %>
						<div class = "link"><%= link_to "商品編集" , edit_admin_item_path, class: "btn btn-primary btn-lg" %></div>
					</div>


					<p>商品名: <%= @item.name %> </p>
					<p>アーティスト名: <%= @item.artist.artist %></p>
					<p>ジャンル名: <%= @item.genre.genre %></p>
					<p>レーベル名: <%= @item.label.label %></p>
					<p>価格: <%= @item.price %></p>
					<p>在庫数: <%= @item.stock %></p>
					<p>販売ステータス: <%= @item.status %></p>

				</div>
				<div class="row">
					<div class="width">
						<table class="table col-lg-4">

							<thead>
								<tr>
									<th>楽曲リスト</th>

								</tr>
							</thead>
							<tbody>
								<% @item.discs.each do |disc| %>
								<tr>
									<td>ディスク<%= disc.disc_number %> </td>
								</tr>

									<% disc.tracks.each do |track| %>
								<tr>

									<td>トラック<%= track.track_number %> </td>
									<td><%= track.track_name %> </td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
									<% end %>
								<% end %>
							</tbody>
						</table>
					</div>

				</div>
			</div>
	</div>
</div>


