  <div class = "item-show-jacket-box">
			<div class= "item-show-jacket">
				<%= attachment_image_tag @item, :jacket_image, fallback: "no_images.png", size: '300x300' %>
			</div>
		    <div class = "item-show-jacket"><%= link_to "商品編集" , edit_admin_item_path, class: "btn btn-primary btn-lg" %>
    		</div>
    	</div>

    	<div class = "item-show-info">
			<h2><%= @item.name %> </h2>
			<p><%= @item.artist.artist %></p>
			<p class="item-show-price">¥<%= @item.price.to_s(:delimited) %></p>
			<p>CD形式: <%= @item.disctype %></p>
			<p>販売ステータス: <%= @item.status %></p>
			<p>在庫:  残り<%= @item.stock %></p>
			<p>ジャンル: <%= @item.genre.genre %></p>
			<p><%= @item.label.label %></p>
		</div>

		<table class="item-show-track">
			<thead>
				<tr>
					<th>楽曲リスト</th>
				</tr>
			</thead>

			<tbody>
				<% @item.discs.each do |disc| %>
				<tr>
					<td class="item-show-disc-number">ディスク<%= disc.disc_number %> </td>
				</tr>
				<% disc.tracks.each do |track| %>
				<tr>
					<td class="item-show-track-number"><%= track.track_number %>.</td>
					<td class="item-show-track-name"><%= track.track_name %> </td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>