<div class = 'wrapper'>
	<%= form_for @genre, url: admin_genres_path do |f| %>

	<h1> Genre add</h1>
	  <p> genre</p>

	    <%= f.text_field :genre %>

	    <%= f.submit "add" %>

	<% end %>

	<h1> Genre index</h1>

	<% @genres.each do |genre| %>
	<p> <%= genre.id %>::<%= genre.genre %></p>

	<% end %>
</div>
