<div class = "container">
	<div class="back-rgba">
		<div class = 'wrapper'>
			<%= form_for @label, url: admin_labels_path do |f| %>

			<h1> Lebel add</h1>
			<p> label</p>

			    <%= f.text_field :label %>

			    <%= f.submit "add" %>

			<% end %>

			<h1> Label index</h1>

			<% @labels.each do |label| %>
			<p> <%= label.id %>::<%= label.label %></p>

			<% end %>
		</div>
	</div>
</div>