<div class= "container">
<div class= "row">

<h1>カート内容</h1>


<% @carts.each do |cart| %>
<%= form_for cart do |f| %>

<p> 商品名：<%= cart.item.name %> 数量：<%= f.text_field :quantity %></p>
<%= f.hidden_field :item_id %>

<%= f.submit "更新" %>
<% end %>

<%= form_for cart, method: :delete do |f| %>
<%= f.submit "削除" %>
<%= f.hidden_field :item_id %>

<% end %>


<% end %>


<%= link_to "購入へ進む", new_order_path %>

</div>
</div>