<div class= "container">
<div class= "row">

<%= flash[:add] %>
<%= flash[:update] %>
<%= flash[:remove] %>
<%= flash[:error] %>


<h1>カート内容</h1>

<% sum = 0 %>
<% @carts.each do |cart| %>
<% sum += cart.item.price * cart.quantity %>

<%= form_for cart do |f| %>

<p><%= attachment_image_tag cart.item, :jacket_image,size: '50x50' %></p>
<p> 商品名：<%= cart.item.name %> 数量：<%= f.text_field :quantity %></p>
<p>アーティスト名：<%= cart.item.artist.artist %></p>
<p>在庫数：<%= cart.item.stock %></p>
<p>金額：<%= cart.item.price %></p>


<%= f.hidden_field :item_id %>

<%= f.submit "更新" %>
<% end %>

<%= form_for cart, method: :delete do |f| %>
<%= f.submit "削除" %>
<%= f.hidden_field :item_id %>
<% end %>

<p>-------------------------</p>
<% end %>



<h5> 小計：¥<%= sum %> </h5>


<%= link_to "購入へ進む", new_order_path %>

</div>
</div>