<% @items.each do |item| %>
	<div class = "row">
      <div class = "col-xs-1"></div>
	      <div class = "col-xs-1"></div>
            <div class = "col-xs-6">
              <div class = "image">
                <%= attachment_image_tag item, :jacket_image,size: '100x100' %>
              </div>
	          <table border="1">
			    <tr>
			      <td><%= item.name %></td>
			      <td>価格 :<%= item.price %></td>
			    </tr>
			    <tr>
	              <td>アーティスト :<%= item.artist.artist %></td>
                  <td>在庫数 :<%= item.stock %></td>
                </tr>
                <tr>
                  <td>レーベル :<%= item.label.label %></td>
                  <td>ステータス :<%= item.status %></td>
                </tr>
                <tr>
                  <td>ジャンル :<%= item.genre.genre %></td>
                  <td><%= link_to "商品詳細" , item_path(item) %></td>
                </tr>
                <div class="col-xs-1"></div>
              </table>
            </div>
    </div>
	  <span class = "border-bottom"></span>
<% end %>
<%= paginate @items %>
