<% result = 0 %>
<% @items.each do |item| %>
  <% result += 1 %>
<% end %>

<h5><%= params[:search] %>：の検索結果</h5>
<h5><%= result %>件のCDが見つかりました</h5>

<% @items.each do |item| %>

<div class="container">
  <div class="row">
      <div class="col-xs-1"></div>
          <div class="col-xs-3">
              <%= attachment_image_tag item, :jacket_image, class: "image", fallback: "no_images.png", size: '200x200' %>
          </div>
            <div class="col-xs-7 ">
              <table border="1">
                <tr>
                  <td><%= item.name %></td>
                  <td>価格 :<%= item.price %></td>
                </tr>
                <tr>
                  <td>アーティスト :<%= item.artist.artist %></td>
                  <td>在庫数 :<%= item.stock %></td>
                </tr>
                <tr>
                  <td>レーベル :<%= item.label.label %></td>
                  <td>ステータス :<%= item.status %></td>
                </tr>
                <tr>
                  <td>ジャンル :<%= item.genre.genre %></td>
                    <% if admin_signed_in? %>
                  <td><%= link_to "商品詳細" , admin_item_path(item) %></td>
                    <% else %>
                  <td><%= link_to "商品詳細" , item_path(item) %></td>
                    <% end %>
                </tr>
              </table>
            </div>
              <div class="col-xs-1"></div>
  </div>
</div>
    <span class="border-bottom"></span>

<% end %>
