<div class="container">
  <div class="back-rgba">
    <div class = 'wrapper'>
      <% result = 0 %>
      <% @items.each do |item| %>
        <% result += 1 %>
      <% end %>
        <h5><%= params[:search] %>：の検索結果</h5>
        <h5><%= result %>件のCDが見つかりました</h5>
　        <% @items.each do |item| %>
              <div class="col-xs-1"></div>
                <div class="col-xs-3">

                  <%= link_to admin_item_path(item) do %>
                    <%= attachment_image_tag item, :jacket_image, class: "jacket-image", fallback: "no_images.png", size: '200x200' %>
                  <% end %>
                </div>
                    <div class="col-xs-8">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>アルバム名</th>
                            <th>価格</th>
                            <th>アーティスト</th>
                            <th>在庫</th>
                            <th>レーベル</th>
                            <th>ステータス</th>
                            <th>ジャンル</th>
                          </tr>
                        </thead>

                        <tbody>
                        <tr>
                          <td><%= link_to admin_item_path(item) do %>
                            <strong><%= item.name %></strong>
                          <% end %></td>
                          <td>¥<%= item.price %></td>
                          <td><%= item.artist.artist %></td>
                          <td><%= item.stock %></td>
                          <td><%= item.label.label %></td>
                          <td><%= item.status %></td>
                          <td><%= item.genre.genre %></td>
                          <td></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
            </div>
          <% end %>
    </div>
  </div>
</div>
