<div class = "container">
	<div class="back-rgba">
		<div class = "item-show-jacket-box">
			<div class= "item-show-jacket">
				<%= attachment_image_tag @item, :jacket_image, fallback: "no_images.png", size: '300x300' %>
			</div>
	   		<% if @item.status == "在庫あり" or @item.stock.to_i == 0 %>
		    	<div class = "item-show-jacket"><%= button_to "カートに追加する", carts_path, params: { item_id: @item.id }, class: "btn btn-primary btn-lg" %>
		    	</div>
	    	<% else %>
		    	<div class = "item-show-jacket"><button type="button" class="btn btn-default btn-lg" disabled="disabled">カートに追加する</button></div>
	    	<% end %>

	    	<div class="item-show-like">
		    	<% if user_signed_in? %>
					<% if @item.liked_by?(current_user) %>
						<li>
						  <%= link_to item_likes_path(@item), method: :delete do %>
						  <i class = "fa fa-heart" aria-hidden = "true" style = "color:red;"></i>
						  <%= @item.likes.count %> いいね!
						  <% end %>
						</li>
					<% else %>
						<li>
						  <%= link_to item_likes_path(@item), method: :post do %>
						  <i class = "fa fa-heart" aria-hidden = "true" style = "color:gray;"></i>
						  <%= @item.likes.count %> いいね!
						  <% end %>
						</li>
					<% end %>
				<% else %>
					<br>
					<i class = "fa fa-heart" aria-hidden = "true" style = "color:gray;"></i>
					<%= @item.likes.count %> いいね!
				<% end %>
			</div>
    	</div>

    	<div class = "item-show-info">
			<h2><%= @item.name %> </h2>
			<p><%= @item.artist.artist %></p>
			<p class="item-show-price">¥<%= @item.price.to_s(:delimited) %></p>
			<p>販売ステータス: <%= @item.status %></p>
			<% if @item.status == "在庫あり" %>
				<p>在庫:  残り<%= @item.stock %></p>
			<% end %>
			<p>ジャンル: <%= @item.genre.genre %></p>
			<p><%= @item.label.label %></p>
		</div>

		<table class="item-show-track">
			<thead>
				<tr>
					<th>楽曲リスト</th>
				</tr>
			</thead>

			<tbody>
				<% @item.discs.each do |disc| %>
				<tr>
					<td class="item-show-disc-number">ディスク<%= disc.disc_number %> </td>
				</tr>
				<% disc.tracks.each do |track| %>
				<tr>
					<td class="item-show-track-number"><%= track.track_number %>.</td>
					<td class="item-show-track-name"><%= track.track_name %> </td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


