
<%= flash[:error] %>

<h1> 商品詳細ページ</h1>

<div><%= attachment_image_tag @item, :jacket_image, class: "image", fallback: "no_images.png", size: '200x200' %></div>
<p>商品名: <%= @item.name %> </p>
<p>アーティスト名: <%= @item.artist.artist %></p>
<p>ジャンル名: <%= @item.genre.genre %></p>
<p>レーベル名: <%= @item.label.label %></p>
<p>価格: <%= @item.price %></p>
<p>在庫数: <%= @item.stock %></p>
<p>販売ステータス: <%= @item.status %></p>



<br>

<% @item.discs.each do |disc| %>
<tr>
	<td>ディスク番号<%= disc.disc_number %> </td>


	<% disc.tracks.each do |track| %>
	<td>トラック番号<%= track.track_number %> </td>
	<td>曲名<%= track.track_name %> </td>
</tr>
	<% end %>

<% end %>


<li>
    <i class="fa fa-calendar"></i><%= @item.created_at.strftime('%Y/%m/%d') %>
</li>
<% if @item.liked_by?(current_user) %>
<li>
	<%= link_to item_likes_path(@item), method: :delete do %>
	<i class = "fa fa-heart" aria-hidden = "true" style = "color:red;"></i>
	<%= @item.likes.count %> いいね
	<% end %>
</li>
<% else %>
<li>
	<%= link_to item_likes_path(@item), method: :post do %>
	<i class = "fa fa-heart-o" aria-hidden = "true"></i>
	<%= @item.likes.count %> いいね
	<% end %>
</li>
<% end %>




<%= button_to "カートに追加する", carts_path, params: { item_id: @item.id } %>


