<div class="back">
<div class="back-rgba">
<h1>ユーザーリスト</h1>


<h2>検索</h2>
  <%= form_tag(admin_search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :lastname => nil %>
<% end %>

<p> ------------------- </p>


<% @users.each do |user| %>

<h4>ユーザー名</h4>
<p>  <%= user.lastname %><%= user.firstname %></p>

<h4>ユーザー名（カナ）</h4>
<p>  <%= user.lastname_kana %><%= user.firstname_kana %></p>

<h4>電話番号</h4>
<p>  <%= user.phonenumber %></p>

<h4>email</h4>
<p>  <%= user.email %></p>

<p>  <%= link_to "ユーザー詳細", admin_user_path(user), class:"user_#{user.id}" %></p>

<p> -------------------- </p>

<% end %>

<%= paginate @users %>
</div>
</div>
