<div class="container">
  <div class="back-rgba">
       <h1>ユーザーリスト</h1>


         <h2>検索</h2>
           <%= form_tag(admin_search_path,:method => 'get') do %>
           <%= text_field_tag :search %>
           <%= submit_tag 'Search', :lastname => nil %>
         <% end %>

       <p> ------------------- </p>


     <% @users.each do |user| %>

  <table border="5">
    <thead>
      <tr>
         <th>ユーザー名</th>
         <th>ユーザー名（カナ）</th>
         <th>電話番号</th>
         <th>メールアドレス</th>
      </tr>
  </thead>

    <tbody>
      <tr>
         <td> <%= user.lastname %><%= user.firstname %></td>
         <td> <%= user.lastname_kana %><%= user.firstname_kana %></td>
         <td> <%= user.phonenumber %></td>
         <td> <%= user.email %></td>
      </tr>
    </tbody>

   <p>  <%= link_to "ユーザー詳細", admin_user_path(user), class:"user_#{user.id}" %></p>

   </table>

       <p> -------------------- </p>

<% end %>

<%= paginate @users %>
  </div>
</div>
