<h1>マイページ</h1>


<p>名前： <%= current_user.lastname %>  <%= current_user.firstname %> </p>
<p>名前(カナ)： <%= current_user.lastname_kana %>  <%= current_user.firstname_kana %>
<p> email : <%= current_user.email %> </p>
<p> 郵便番号 : <%= current_user.postalcode %> </p>
<p> 住所 : <%= current_user.address %> </p>
<p> 電話番号 : <%= current_user.phonenumber %> </p>
<p> email : <%= current_user.email %> </p>


<p> <%= link_to"編集", edit_admin_user_path(current_user) %> </p>




<h2>宛名一覧</h2>

<% @address_names.each do |address_name| %>

<p>宛名： <%= address_name.address_name %> </p>

<% end %>


<h2>送付先一覧</h2>

<% @addresses.each do |address| %>

<p>郵便番号： <%= address.postalcode %> </p>
<p>住所：<%= address.address %> </p>

<% end %>