<div class="wrapper">

	<%= flash[:success] %>
	<%= flash[:error] %>

	<h1>お問い合わせ </h1>
	<%= form_for @inquiry do |f| %>

	<p>メールアドレス</p>
	<p><%= f.text_field :email, size: "30" %></p>

	<p>お問い合わせ内容</p>
	<p><%= f.text_area :inquiry_content, size: "60x10" %></p>


	<%= f.submit "送信",data: { confirm: "お問い合わせを送信しますか？"} , class: "btn btn-primary btn-lg" %>

	<% end %>
</div>

