<!DOCTYPE html>
<html>
  <head>
    <title>DISC_KIDS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div class="social">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    </div>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Patua+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav>
          <% if admin_signed_in? %>
          <div class="logo">
          <%= link_to admin_items_path do %>
             <%= image_tag "logo.png", class: "logo-image", size: "110x100" %>
          <% end %>
        </div>
            <li class="nav-item">
              <%= link_to "USER LIST", admin_users_path, :style => "color:white;" %>
            </li>
            <li class="nav-item">
              <%= link_to "DISC INDEX",admin_items_path, :style => "color:white;" %>
            </li>
            <li class="nav-item">
              <%= link_to "ADD DISC",new_admin_item_path, :style => "color:white;" %>
            <li class="nav-item">
              <%= link_to "INQUIRY", admin_inquiries_path, :style => "color:white;" %>
            </li>
            <li class="nav-item">
              <dl class="searchbox">
                 <%= form_tag admin_search_items_path, :method => 'get' do %>
                   <%= text_field_tag :search %>
                   <%= submit_tag "Search", :name => nil %>
                 <% end %>
              </dl>
            </li>
            <li class="nav-item">
              <%= link_to "LOG OUT", destroy_admin_session_path, method: :delete, :style => "color:white;" %>
            </li>
        </nav>

          <% elsif user_signed_in? %>
            <nav>
              <div class="logo">
                <%= link_to items_path do %>
                   <%= image_tag "logo.png", class: "logo-image", size: "110x100" %>
                <% end %>
              </div>
              <li class = "nav-item">
                <%#= current_user.lastname + current_user.firstname + "さん" %>
              </li>
              <li class="nav-item">
                <%= link_to "MY PAGE", user_path(current_user), :style => "color:white;" %>
              </li>
              <li class="nav-item">
                <%= link_to "INQUIRY", new_inquiry_path, :style => "color:white;" %>
              </li>
              <li class="nav-item">
                <dl class="searchbox">
                  <%= form_tag search_items_path, :method => 'get' do %>
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag "Search", :name => nil %>
                  <% end %>
                </dl>
              </li>
              <li class="nav-item">
                <%= link_to "CART", carts_path, :style => "color:white;" %>
              </li>
              <li class="nav-item">
                <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, :style => "color:white;" %>
              </li>
            </nav>

          <% else %>
            <nav>
              <div class="logo">
                <%= link_to items_path do %>
                   <%= image_tag "logo.png", class: "logo-image", size: "110x100" %>
                <% end %>
              </div>
              <li class="nav-item">
                <%= link_to "LOG IN", new_user_session_path, :style => "color:white;" %>
              </li>
              <li class="nav-item">
                <%= link_to "SIGN UP", new_user_registration_path, :style => "color:white;" %>
              </li>
              <li class="nav-item">
                <%= link_to "INQUIRY", new_inquiry_path , :style => "color:white;" %>
              </li>
              <li class="nav-item">
              <dl class="searchbox">
                 <%= form_tag search_items_path, :method => 'get' do %>
                   <%= text_field_tag :search, params[:search] %>
                   <%= submit_tag "Search", :name => nil %>
                 <% end %>
              </dl>
            </li>
            </nav>
          <% end %>
        </div>
    </header>

  <div class='body'>
    <div class='margin'></div>
  </div>

  <main>
      <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
      <% end %>
    <%= yield %>
  </main>
    </body>
  </html>